{% extends 'base.html' %}
{% block main %}
    <h2>Our shared list of tasks:</h2>
    <ul>
    {% for task in tasks %}
      <li> {{loop.index0}}:{{task}} <a href="{{url_for('delete_task', task_id=loop.index0) }}"> X </a> </li>
    {% endfor %}
  </ul>
    <!-- <ul>
    {% for task in tasks %}
      <li>{{ task }}
        {# We'll use the special jinja variable `loop.index0` for the index of this `task` in the `tasks` list #}
        <a class="delete-task" href="{{ url_for('delete_task', task_id=loop.index0) }}">❌</a>
      </li>
    {% else %} {# This will display if there are no tasks #}
      <li class="placeholder-task">You're all done.............. Or are you? Challenge yourself, add some new tasks to accomplish.</li>
    {% endfor %}
    </ul> -->
    <!-- [html-validate-disable-next attribute-allowed-values -- templated url] -->
    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task" placeholder="Add new task" autofocus>
        <button type="submit">Add</button>
    </form>
{% endblock %}
